body {
  background-image: url("/images/pokemonbg.jpg");
  background-repeat: repeat;
  background-position: left top;
  background-size: 300px 300px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

h1, h3 {
text-align: center;
}

img {
    width: 120px;
}

body { font-family: sans-serif; }

.scene {
  width: 200px;
  height: 260px;
  border: 1px solid #CCC;
  margin: 0px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  /*color: white;*/
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background-image: url("/images/pokemoncard-test.png")
}

.card__face--back {
  background-image: url("/images/pokemoncard-back.png");
  transform: rotateY(180deg);
}

p {
   position: absolute;
   bottom: 8px;
   margin: 0px;
   font-size: 14px;
   line-height: 0rem;
}

button {
    width: 150px;
    height: 80px;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    margin: 20px;
}