#navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

body {
    background-image: url("/images/starstwinkle.gif");
  background-repeat: repeat;
  background-position: left top;
  background-size: 300px 300px;
}

header {
    display: flex;
    justify-content: center;
}

button {
    padding: 15px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: lightgrey;
    visibility: visible;
    margin: 15px;
}

img {
    width: 120px;
    border-radius: 10px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 6px;
    margin-bottom: 20px;
    background-color: rgba(107, 115, 153, 0.75);
}
h3, p {
    margin: 0px;
}