main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

header {
    display: flex;
    justify-content: center;
}

button {
    padding: 15px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: lightgrey;
    visibility: visible;
    margin: 15px;
}

img {
    width: 120px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d6abf3;
    border-radius: 10px;
    padding: 6px;
    margin-bottom: 20px;
}
h3, p {
    margin: 0px;
}