*{
    margin: 0px;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  background-color: #a99db3;
}


#navlist {
    display: flex;    
    list-style: none;
    margin-right: 2rem;
}

#navlist a {
   display: block;
    font-size: 2.2rem;
    padding: 1.5rem;
}

#navlist a:hover {
    background: #514357;
    
}

a {
    text-decoration: none;
    color: #f0f0f0;
}
li {
    font-size:1.75rem;
    color: #fff;
}

#welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    color: #fff;
    background-color: #363636
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;

}

.projects {
    text-align: center;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #363636;
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  color: #514357;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
@media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: #363636;
}

h2 {
    font-size: 2rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


.contact-details {
    font-size: 1.5rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #f6eefa;
    border-top: 4px solid #514357;
    font-family: Arial, Helvetica, sans-serif;
}
    /*https://codepen.io/freeCodeCamp/pen/zNBOYG?editors=1100